{% block content %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script>
    var directions = JSON.parse('{{ directions|tojson }}')
    var latitude = '{{ latitude }}'
    var longitude = '{{ longitude }}'
    </script>
    <script src="static/jquery.2.1.4.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/maindash.js"></script>
    <title>dashdoord</title>
    <script>
    var subwayColors = {
    'A': '#0039A6', 'C': '#0039A6', 'E': '#0039A6',
    'B': '#FF6319', 'D': '#FF6319', 'F': '#FF6319', 'M': '#FF6319',
    'G': '#6CBE45', 'J': '#996633', 'Z': '#996633', 'L': '#A7A9AC',
    'N': '#FCCC0A', 'Q': '#FCCC0A', 'R': '#FCCC0A', 'S': '#808183',
    '1': '#EE352E', '2': '#EE352E', '3': '#EE352E', 
    '4': '#00933C', '5': '#00933C', '6': '#00933C', '7': '#B933AD'
}
// Refresh page every 90 seconds. Currently a hard refresh. Needs to be changed to individual elements
// Then subway time can be updated every 60 seconds and weather can be updated every 5 minutes or so,
// solving API limitation.
//setTimeout('window.location.href=window.location.href;', 90000);
    //javascript: (

var directions = JSON.parse('{{ directions|tojson }}')

var fillCryptos = function() {
    $.get('crypto', function(data) {
        cryptoData = JSON.parse(data)
        $("#bitcoin_price").html(cryptoData['Bitcoin']['price'] + ' (' + cryptoData['Bitcoin']['change'] + '%)')
        $("#ethereum_price").html(cryptoData['Ethereum']['price'] + ' (' + cryptoData['Ethereum']['change'] + '%)')
    })
}
//fillCryptos()

var replaceCitibike = function() {
    $.get( "citibike", function( data ) {
        citibikeData = JSON.parse(data)
        var content = ''
        for (var i = 0; i < citibikeData.length; i++) {
            var row = citibikeData[i]
            content += '<tr>'
            content += '<td>' + row['stationName'] + '</td>'
            content += '<td>' + row['availableBikes'] + '</td>'
            content += '<td>' + row['availableDocks'] + '</td>' 
            content += '<td>' + row['distance'] + '</td>'
            content += '</tr>'
        $("#citibike_body").html(content)
    }
    });
}

var replaceSubway = function () {
    $.get("subway?station_id=" + Object.keys(directions)[0].slice(0, -1) , function (data) {
        subwayData = JSON.parse(data)
        for (var subway in subwayData) {
            var content = ''
            var directionData = subwayData[subway].slice(0, 4)
            for (var i = 0; i < directionData.length; i++) {
                content += '<tr><td><div class=subway-circle style="border: 2px solid ' + subwayColors[directionData[i]['route']]+ '; background-color: ' + subwayColors[directionData[i]['route']] + ';"><span>' + directionData[i]['route'] + '</span></div></td>'
                content += '<td>' + directionData[i]['destination'] + '</td>'
                content += '<td>' + parseInt(directionData[i]['remaining'] / 60) + " Minutes</td></tr>"
            }
            $("#" + subway + "_body").html(content)
        }
    })
}

var updateTime = function() {
    var time = new Date();
    var currentTime = time.toLocaleString('en-US', 
        { hour: 'numeric', hour12: true, 'minute': 'numeric', 'second': 'numeric' });
    $("#current_time").html(currentTime)
}

updateTime()


var cssInject = function () { 
// the css we are going to inject
var css = 'html {-webkit-filter: invert(100%);' +
    '-moz-filter: invert(100%);' + 
    '-o-filter: invert(100%);' + 
    '-ms-filter: invert(100%); }',

head = document.getElementsByTagName('head')[0],
style = document.createElement('style');

// a hack, so you can "invert back" clicking the bookmarklet again
if (!window.counter) { window.counter = 1;} else  { window.counter ++;
if (window.counter % 2 == 0) { var css ='html {-webkit-filter: invert(0%); -moz-filter:    invert(0%); -o-filter: invert(0%); -ms-filter: invert(0%); }'}
 };

style.type = 'text/css';
if (style.styleSheet){
style.styleSheet.cssText = css;
} else {
style.appendChild(document.createTextNode(css));
}

//injecting the css to the head
head.appendChild(style);
}
//cssInject()
function hideAddressBar(){
  if(document.documentElement.scrollHeight<window.outerHeight/window.devicePixelRatio)
    document.documentElement.style.height=(window.outerHeight/window.devicePixelRatio)+'px';
  setTimeout(window.scrollTo(1,1),0);
}
window.addEventListener("load",function(){hideAddressBar();});
window.addEventListener("orientationchange",function(){hideAddressBar();});

// Setting Subways to update every minute
window.setInterval(function(){
    updateTime()
    replaceSubway()
}, 60000);

// Setting Citibike to Update every 5 minutes
window.setInterval(function(){
    replaceCitibike()
}, 300000);

// Setting weather and cryptos to update every 15 minutes
window.setInterval(function(){
    document.getElementById("forecast_embed").src += ''
//    fillCryptos()
}, 900000);

</script>


    <style>*{font-family:"Helvetica";}</style>
    <style>
    .inverted {
    filter: invert(100%);
    }
    .fe_container .fe_title .fe_location {
      position: absolute;
      left: 10px;
      bottom: 6px;
      font-size: 18px;
      font-weight: bold;
    }
    .fe_title {
        position: relative;
        height: 32px;
        height: 32px;
        border-bottom: 2px solid #444;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgb(68, 68, 68);
        }
    .fe_break {
        height: 0px;
        border-bottom: 2px solid #444;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgb(68, 68, 68);

        }

.subway-circle {
    display:inline-block;
    line-height:0px;
    
    border-radius:50%;
    border:2px solid #0039A6;
    background-color: #0039A6;
    
    font-size:32px;
    font: helvetica;
    color: white;
}

.subway-circle span {
    display:inline-block;
    
    padding-top:50%;
    padding-bottom:50%;
    
    margin-left:8px;
    margin-right:8px;
    font: helvetica;
}

    </style>

</head>
<body style="width:100%;"=>
<div class="fe_container">
    <div class="fe_title" style="display:block;">
        <span class="fe_location">
            <span>
            {{subway_station_name}} (Updated <span id=current_time></span>)
            </span>
        </span>
    </div>
</div>
<div class="center-container" id="subways">
{% for subway in ['N', 'S'] %}
<div id="{{ subway }}" class="col-xs-6">
    <table class="table table-condensed" style="width:100%; font-size:30px">
    <tbody id="{{ subway }}_body">
    {% for information in subways[subway][:4] %}
        <tr>
            <td><div class=subway-circle style="border: 2px solid {{ colors[information['route']] }}; background-color: {{ colors[information['route']] }}"><span>{{ information['route'] }}</span></div></td>
            <td>{{ information['destination'] }}</td>
            <td>{{ (information['remaining'] / 60)|int }} Minutes</td>
        <tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endfor %}
</div>
</div>

<div id="forecast_widget">
<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="{{ embed_src }}"></iframe> 
</div>
{% if graph_intensity %}
<div id="plotly">
</div>
{% else %}
    <div class="fe_break" style="display:block;">
    </div>
<div id="bottom_section">
<table class="table table-condensed" style="width:100%; font-size:20px; float:left" id=citibike_table>
<tr>
	<th>Nearby Stations &nbsp&nbsp<img height="15" src="{{ url_for('static', filename='citibike.jpg') }}" alt="Citibike Train Logo"></th>
	<th>Bikes</th>
	<th>Docks</th>
	<th>Distance</th>
</tr>
<tbody id=citibike_body>
{% for station in station_info %}
<tr>
	<td>{{station['stationName']}}</td>
	<td>{{station['availableBikes']}}</td>
	<td>{{station['availableDocks']}}</td>
	<td>{{station['distance']}} mi</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}
</body>
<script type=text/javascript src="{{
  url_for('static', filename='jquery.2.1.4.min.js') }}"></script>
<script type=css src="{{
  url_for('static', filename='bootstrap.min.css') }}"></script>
</html>
{% endblock %}