{% block content %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="static/jquery.2.1.4.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <title>dashdoord</title>
    <script>
// Refresh page every 90 seconds. Currently a hard refresh. Needs to be changed to individual elements
// Then subway time can be updated every 60 seconds and weather can be updated every 5 minutes or so,
// solving API limitation.
setTimeout('window.location.href=window.location.href;', 90000);
    javascript: (
function () { 
// the css we are going to inject
var css = 'html {-webkit-filter: invert(100%);' +
    '-moz-filter: invert(100%);' + 
    '-o-filter: invert(100%);' + 
    '-ms-filter: invert(100%); }',

head = document.getElementsByTagName('head')[0],
style = document.createElement('style');

// a hack, so you can "invert back" clicking the bookmarklet again
if (!window.counter) { window.counter = 1;} else  { window.counter ++;
if (window.counter % 2 == 0) { var css ='html {-webkit-filter: invert(0%); -moz-filter:    invert(0%); -o-filter: invert(0%); -ms-filter: invert(0%); }'}
 };

style.type = 'text/css';
if (style.styleSheet){
style.styleSheet.cssText = css;
} else {
style.appendChild(document.createTextNode(css));
}

//injecting the css to the head
head.appendChild(style);
}());
function hideAddressBar(){
  if(document.documentElement.scrollHeight<window.outerHeight/window.devicePixelRatio)
    document.documentElement.style.height=(window.outerHeight/window.devicePixelRatio)+'px';
  setTimeout(window.scrollTo(1,1),0);
}
window.addEventListener("load",function(){hideAddressBar();});
window.addEventListener("orientationchange",function(){hideAddressBar();});
    </script>
    <style>*{font-family:"Helvetica";}</style>
    <style>
    .inverted {
    filter: invert(100%);
    }
    .fe_container .fe_title .fe_location {
      position: absolute;
      left: 10px;
      bottom: 6px;
      font-size: 18px;
      font-weight: bold;
    }
    .fe_title {
        position: relative;
        height: 32px;
        height: 32px;
        border-bottom: 2px solid #444;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgb(68, 68, 68);
        }
    .fe_break {
        height: 0px;
        border-bottom: 2px solid #444;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgb(68, 68, 68);
        }
    </style>
</head>
<body>
<div class="fe_container">
    <div class="fe_title" style="display:block;">
        <span class="fe_location">
            <span>
            Graham Avenue &nbsp <img height="25" src="{{ url_for('static', filename='ltrain.png') }}" alt="L Train Logo"> &nbsp (Updated {{ time }})
            </span>
        </span>
    </div>
</div>
<div class="center-container" id="subways">
{% for subway in subways %}
<div id="{{ subway }}" class="col-xs-6">
    <table class="table table-condensed" style="width:100%; font-size:30px">
    {% for wait in subways[subway][:4] %}
        <tr>
            <td><img height="40" src="{{ url_for('static', filename='ltrain.png') }}" alt="L Train Logo"></td>
            <td>{{ directions[subway] }}</td>
            <td>{{ wait }} Minutes</td>
        <tr>
    {% endfor %}
    </table>
</div>
{% endfor %}
</div>
</div>

<div id="forecast_widget">
<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="{{ embed_src }}"></iframe> 
</div>
{% if graph_intensity %}
<div id="plotly">
<iframe width="100%" height="245" frameborder="0" seamless="seamless" scrolling="no" src="{{ plot_url }}.embed?width=100%&height=245" ></iframe> 
</div>
{% else %}
    <div class="fe_break" style="display:block;">
    </div>
<table class="table table-condensed" style="width:100%; font-size:20px">
<tr>
	<th>Nearby Stations &nbsp&nbsp<img height="15" src="{{ url_for('static', filename='citibike.jpg') }}" alt="Citibike Train Logo"></th>
	<th>Bikes</th>
	<th>Docks</th>
	<th>Distance</th>
</tr>
{% for station in station_info %}
<tr>
	<td>{{station['stationName']}}</td>
	<td>{{station['availableBikes']}}</td>
	<td>{{station['availableDocks']}}</td>
	<td>{{station['distance']}} mi</td>
</tr>
{% endfor %}
</table>
{% endif %}
</body>
<script type=text/javascript src="{{
  url_for('static', filename='jquery.2.1.4.min.js') }}"></script>
<script type=css src="{{
  url_for('static', filename='bootstrap.min.css') }}"></script>
</html>
{% endblock %}